include README.md
include LICENSE
include pyproject.toml
recursive-include pyautocausal *.py
recursive-include pyautocausal *.R
recursive-include docs *.md
recursive-exclude * __pycache__
recursive-exclude * *.py[co]
recursive-exclude * *.orig
recursive-exclude * *.rej
recursive-exclude * .coverage*
recursive-exclude * .pytest_cache*
recursive-exclude tests *
recursive-exclude examples *
recursive-exclude output *
recursive-exclude scripts *
exclude .gitignore
exclude .python-version
exclude poetry.lock
exclude package-lock.json
